<header class='top-page-header'>
  <div class="top-page-header-top">
    <div class="top-pfc">
      <div class='pfc-icon'>
        <%= link_to "Your-pfc", root_path, class: "pfc-icon"%>
      </div>
    </div>
  </div>
</header>