.items-new {}

.item-new {
  width: 100vw;
  height: 180vh;
  display: flex;  
  justify-content: center;  
  padding-top: 40px;
}

.item-contents {
  width: 80vw;
  height: 150vh;
  background-color: aqua;
  display: flex;  
  flex-direction: column;  
  align-items: center; 
}

.item-sell-title {
  background-color: aqua;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  color: #f5f5f5;;
  -webkit-text-stroke: 1px black;
  border: 1px solid black;
}

.item-graph {
 width: 70vw;
 height: 50vh;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: antiquewhite;
}

.item-form {
  display: flex;
  flex-direction: column;
  width: 100%; 
}


.item-form-input {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.item-form-pfc {
  white-space: nowrap;
  padding-top: 10px;
  padding-left: 40px;
}

.item-form-pfc-right {

}

.item-form-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item-form-field input {
  margin-right: 5px;
}

.item-form-field input[type="number"]::placeholder {
  text-align: left; 
}

.item-form-field input[type="number"] {
  flex: 1; 
  margin-right: 5px;
  text-align: right; 
}


.item-form-kcal {
  width: 50px;
  margin-left: 5px;
  white-space: nowrap;
}

.item-form-g {
  width: 50px;
  margin-left: 5px;
  white-space: nowrap;
}

.item-form-field-text {
  width: 210px;
}

.item-form-field-area {
  width: 65vw;
  height: 100px;
}

.item-form-submit {
  margin-top: 30px;
  justify-content: center;
}

.item-new-sell-btn {
  width: 250px;
  height: 50px;
}